<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="home">SokjeTech</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="teamDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teams
          </a>
          <div class="dropdown-menu" aria-labelledby="teamDropDown">
            <a class="dropdown-item" routerLink="my-teams">My Teams</a>
            <a class="dropdown-item" routerLink="create-team">Create Team</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="driverDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drivers
          </a>
          <div class="dropdown-menu" aria-labelledby="driverDropdown">
            <a class="dropdown-item">My Drivers</a>
            <a class="dropdown-item" routerLink="create-driver">Create Driver</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="universeDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Universes
          </a>
          <div class="dropdown-menu" aria-labelledby="universeDropdown">
            <a href="#" class="dropdown-item">All Universes</a>
            <a class="dropdown-item" routerLink="my-universes">My Universes</a>
            <a class="dropdown-item" routerLink="create-universe">Create Universe</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="seriesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Series
          </a>
          <div class="dropdown-menu" aria-labelledby="seriesDropdown">
            <a href="#" class="dropdown-item">All Series</a>
            <a class="dropdown-item" routerLink="my-series">My Series</a>
            <a class="dropdown-item" routerLink="create-series">Create Series</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="seasonDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Seasons
          </a>
          <div class="dropdown-menu" aria-labelledby="seasonDropdown">
            <a class="dropdown-item">My Seasons</a>
            <a class="dropdown-item">Create Season</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item"><a routerLink="login" class="nav-link">Login</a></li>
        <li class="nav-item"><a routerLink="register" class="nav-link">Register</a></li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item"><a routerLink="profile" class="nav-link">Profile</a></li>
        <li class="nav-item"><a (click)="logout()" class="nav-link" id="btn-logout">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
